<h3> WIP </h3>
<h4> {{post_status}} </h4>
<form id="add" action="/api/insert" method="post">
  <p><b>{{ reason }}</b></p>
  {{#each fields}}
    {{#ifObject this}}
      <h4>{{this.meta.longname}}:</h4>
      {{#each this}}
        <em>{{this.longname}}</em> <input id="{{@key}}" type="text" name={{@key}}>
      {{/each}}
    {{else}}
      <h4>{{this.longname}}:</h4>
      <input id="{{@key}}" type="text" name={{@key}}>
    {{/ifObject}} 
  {{/each}}
  <input id="fromForm" name="fromForm" type="text" value="true" style="display:none";>
  <input class="button" type="submit" value="Submit">
</form>
<script src="/javascript/search.js"></script>
